#menu
  background #F7F8F8
  margin 0
  padding 0
  list-style none
  @media print
    display none
  li
    display inline-block
    a
      padding 3px 6px
      display block
      text-decoration none
      color #333
      user-select none
      &:hover
        background #4D8EFF
        color #fff
        .shortcut
          color #fff
      .shortcut
        margin-left 6px
        color #999
        font-family 'Lucida Grande', serif
